* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

th,
td {
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0 0 0 / 5%);
}

table {
    text-indent: initial;
    border-spacing: 2px;
}

main {
    padding: 1rem;
    background-color: #f8f9fa;
    color: #212529;
    width: fit-content;
    margin: 1remauto;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0;
    padding: 0;
}

