@media only screen and (min-width: 38rem) {


    header {
        grid-template-columns: 24 px auto;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    button.hamburger {
        display: none;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }

    section {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}