@media only screen and (min-width: 38rem) {


    header {
        grid-template-columns: 60px 1fr auto;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    button.hamburger {
        display: none;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .hero img {
        width: 100%;
        object-fit: cover;
    }

    .event-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
    }

    section {
        margin: 0.5rem;
        padding: 0.5rem;
        border: 2 px solid rgb(0 0 0 / 20%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
    }

    .company-card {
        display: flex;
        align-items: center;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*form*/
    form {
        width: 100%;
        margin: 20px;
        padding: 20px;
    }
}