@media only screen and (min-width: 64rem) {


    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .navigation {
        display: flex;
        flex-direction: column;

    }

    button.hamburger {
        display: none;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
    }

    .navigation a {
        border: none;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .hero img {
        width: 100%;
    }

    .event-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
    }

    .wcard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    section {
        margin: 0.5rem;
        padding: 0.5rem;
        border: 2px solid rgb(0 0 0 / 20%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
    }

    .company-card {
        display: flex;
        align-items: center;
    }

    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*form*/
    form {
        margin: 20px;
        padding: 20px;
    }

    /*card*/
    #placesContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}