/* header*/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 2rem;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5%;

}

header span {
    font-size: 1.2rem;
    color: #472f3bff;
    text-align: center;

}

.hamburger {
    background: none;
    border: none;
    color: #a50d0dff;
    cursor: pointer;
}


/* show the hamburger button*/
.hamburger::before {
    content: "\2630";

}

.hamburger.show::before {
    content: "\00D7";
}

/* navigation bar */
.navigation {
    display: none;
    background-color: #a50d0dff;
}

.navigation.show {
    display: flex;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #472f3bff;
    text-decoration: none;
    border-bottom: solid 1px #e4c8d3ff;

}

.navigation li.current {
    background-color: #e4c8d3ff;
}

.navigation:hover {
    background-color: #696363ff;
}

h1 {
    margin-left: 10px;
}

/* body*/
body {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    margin: 1rem;


}

p {
    margin: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.75rem;
    background-color: #eee;
}


h2 {
    color: #ddd;
    background-color: #a50d0dff;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 2/3;
}

section {
    display: block;

}

section img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

img {
    width: 50%;
    height: auto;
    align-content: center;
}

div {
    text-align: center;

}

.student-photo img {
    width: 185px;
    height: 208px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    align-content: center;
}

/* footer*/
footer {
    background-color: #a50d0dff;
    padding: 1rem 10px;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;

}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #eee dashed 1px;
    border-radius: 20px;

}

.social img {
    width: 20px;
    height: 20px;
}

.social a:hover {
    background-color: aliceblue;
}