/* header*/
header {
    background-color: #808080;
    display: grid;
    grid-template-columns: 60px 1fr auto;
    padding: 2rem;
    gap: 1rem;
}

.logo {
    width: 60px;
    height: auto;
    object-fit: contain;
}

header img {
    display: flex;
    width: 50%;
    height: auto;

}

header span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #6d071a;

}

.hamburger {
    background: none;
    border: none;
    color: #0a0a30;
    cursor: pointer;
}


/* show the hamburger button*/
.hamburger::before {
    content: "\2630";

}

.hamburger.show::before {
    content: "\00D7";
}

/* navigation bar */
.navigation {
    display: none;
    background-color: #6d071a;
}

.navigation.show {
    display: flex;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #808080;
    text-decoration: none;
    border: solid 1px #eee;

}

.navigation li.current {
    background-color: #eee;
}

.navigation:hover {
    background-color: #0a0a30;
}

h1 {
    margin-left: 10px;
}

/* body*/
body {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    margin: 1rem;
}

p {
    margin: 0;
}


h1 {
    color: #0a0a30;
    text-align: center;
}

img {
    width: 50%;
    height: auto;
    align-content: center;
}


/* main */
main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0.5rem;
    background-color: #eee;

}

.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;

}

.hero {
    width: 100%;
    height: auto;
    display: block;
}

button {
    background-color: #808080;
    color: #6d071a;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

h2 {
    margin: 1rem 0;
    color: #0a0a30;
    text-shadow: 0 0 30px #111;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0.5rem;
}

section {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section>p {
    min-height: 60px;
    font-size: smaller;
    text-align: center;
}

img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #eee;
    height: 200px;
    border: 1px solid #111;
}


/* footer*/
footer {
    background-color: #808080;
    padding: 1rem 10px;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;

}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #eee dashed 1px;
    border-radius: 20px;

}

.social img {
    width: 20px;
    height: 20px;
}

.social a:hover {
    background-color: aliceblue;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: inherit;
    border-radius: 8px;
}

.card h2 {
    color: #333;
}

.card p {
    color: #666;
}