header {
    text-align: center;
    color: rgb(2, 2, 100);
    border-bottom: solid 2px #eee;
}

div {
    display: flex;
    flex-wrap: wrap;
    
}

body {
    text-align: center;
    justify-content: center;
}