/* header*/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 2rem;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}

header span {
    font-size: 1.2rem;
    color: rgb(3, 3, 36);
}

.hamburger {
    background: none;
    border: none;
    color: rgb(3, 3, 36);
    cursor: pointer;
}

/* show the hamburger button*/
.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* navigation bar */
.navigation {
    background-color: purple;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: blueviolet;
    text-decoration: none;
    border-bottom: solid 1px #ddd;

}

.navigation li.current {
    background-color: #eee;
}

.navigation:hover {
    background-color: #eee;
}

h1 {
    margin-left: 10px;
}

/* body*/
body {
    font-family: 'roboto', sans-serif;
    margin: 1rem;

}

p {
    margin: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.75rem;
    background-color: #eee;
}

/* body*/
footer {
    padding: 1rem;
    align-items: center;
    text-align: center;

}