* {
    margin: 0;
    padding: 0;

}

/*------------------- hearder ---------------------*/
header {
    display: grid;
    grid-template-columns: 60px auto 30px;
    background-color: #ffffff;
    padding: 1.5rem;

}

header img {
    width: 100px;
}

header span {
    font-size: xx-large;
    font-weight: bold;
    margin: .5rem;
    color: #FF5722;
    text-align: center;

}


.hamburger {
    border: none;
    background-color: #ffff;
    font-size: larger;
    color: #333333;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7"
}

/*---------------- navigation --------------------*/
.navigation.show {
    display: none;
}

.navigation {
    background-color: #4CAF50;
    margin: 0;
}

.navigation ul {
    list-style-type: none;
}

.current {
    background-color: #FF5722;

}

.navigation a:hover {
    background-color: #f5eccd;
    color: #4CAF50;
}

.navigation a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

/*---------------- body --------------------*/
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f5eccd;
    color: #333333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    color: #333333;
    margin-top: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #FF5722;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 8px;
    text-align: center;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
}

/*---------------- footer --------------------*/
footer {
    background-color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #4CAF50;
    align-items: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/*---------------- social --------------------*/
.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #eee dashed 1px;
    border-radius: 20px;

}

.social img {
    width: 20px;
    height: 20px;
}

.social a:hover {
    background-color: #4CAF50;
}